*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #D94646;
    --secundary-color: #C63557;
    --thrid-color:  #FD0C0C;
    --fouth-color: #cf7d7d;
}

.wrapper {
    display: grid;
    grid-template-rows: 75px 331px 126px 135px;
    width: 100%;
    overflow: hidden;
    background-color: var(--primary-color);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secundary-color);
    height: 100%;
    font-size: 1.3rem;
    font-weight: bold;
}

.cards-slider {
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    background-color: var(--primary-color);
    margin: 0 20px;
}

.cards-slider div {
    margin: 0px;
    width: 230px;
    height: 230px;
    border-radius: 50px;
    background: var(--fouth-color);  
    
    
    position: relative;
    scroll-snap-align: center;
    min-width: 250px;
    max-width: 250px;
    margin: 40px 10px;
    box-shadow: -9px 11px 15px 0px rgba(0,0,0,0.8);
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secundary-color);    
}

.progress-bar--item {
    width: 300px;
    height: 7px;
    background-color: var(--fouth-color);
    margin-top: 10px;
    box-shadow: 0px 4px 15px 1px rgba(0,0,0,0.66);
    border-radius: 25%;
}

.progress-bar--progressing {
    position: relative;
    right: 50px;
    bottom: 7px;
    width: 200px;
    height: 7px;
    background-color: var(--thrid-color);
    border-radius: 25% 0 0 25%;
}

.progress-bar--timeframe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    font-size: 0.8rem;
}

.control {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}

.control-circles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: fit-content;
}

.control-circle--unit {
    background-color: var(--thrid-color);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    box-shadow: -8px 4px 15px 1px rgba(0,0,0,0.8);
}

.control-circle--unit:nth-child(3) {
    position: relative;
    bottom: 10px;
    width: 4rem;
    height: 4rem;    
}

@media screen and (min-width: 500px) {
    .wrapper {
        display: grid;
        grid-template-rows: 75px 280px 126px 175px;
        width: 100%;
        overflow: hidden;
    }
    .cards-slider {
        display: flex;
        justify-content: center;
        overflow: visible;
        background-color: var(--primary-color);
    }
    .cards-slider div {
        margin: 0px;
        width: 200px;
        height: 200px;
        border-radius: 50px;
        background: var(--fouth-color);  
        position: relative;
        min-width: 200px;
        max-width: 200px;
        margin: 40px 10px;
        box-shadow: -9px 11px 15px 0px rgba(0,0,0,0.8);
    }
    .control-circles {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 50%;
        height: fit-content;
    }       
    .control-circle--unit {
        width: 4rem;
        height: 4rem;
    }
    .control-circle--unit:nth-child(3) {
        width: 5.5rem;
        height: 5.5rem;
    }
}